.Counter {
    width: 10rem;
    height: 10rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .5s;
    font-size: 20px;
}