@import '~open-color/open-color';
@import './styles/lib/all';

.card {
  display: inline-block;
  width: $multiplier * 10;
  height: $multiplier * 10;
  margin: $multiplier;
}

.one {
  @include box_shadow(1);
  background-color: $oc-red-6;
}

.two {
  @include box_shadow(2);
  background: $oc-orange-6;
}

.three {
  @include box_shadow(3);
  background: $oc-yellow-6;
}

.four {
  @include box_shadow(4);
  background: $oc-green-6;
}
